body{
    background-color: rgb(40, 12, 12);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-top: -144px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.first{
    width: 200px;
    margin-left: 58px;
    margin-top: 50px;
    color: white;
}

.second{
    width: 400px;
    margin-left: 140px;
}

.div1{
    width: 150px;
    background-color: white;
    text-align: center;
    position: relative;
    left: 540px;
    top: -101px;
}